<p id="notice"><%= notice %></p>

<h1>@rdwks 멘션 수동 등록</h1>
<div id="login"></div>
<div id="mentions">
  <table id="mention_table">
    <thead>
      <tr>
        <td class="all_check">
        </td>
        <td>내용</td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>


<h1>등록 트윗 삭제관리</h1>
<%= link_to "초기화", "/admins/deleteall.json", :id => 'deleteall_link' %> 
<table id="tweet_table">
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.title %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $("#deleteall_link").click(function(e){
      e.preventDefault();
      
      $.ajax({
        type: 'DELETE',
        url: $(this).attr('href'),
        success:function(data){
          if (data.success)
          {
            $("#tweet_table").remove();
          }
        }
      });
    });

    $("a[data-method='delete']").click(function(e){
      e.preventDefault();
      var deleteAction ={
        td: $(this).parent().parent(),
        success: function(data){
          alert("잘 삭제되엇슴");
          this.td.remove();  
        }
      };

      $.ajax({
        type: 'DELETE',
        url: $(this).attr('href')+ '.json',
        success: $.proxy(deleteAction.succsss, deleteAction)
      });

    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".post_tweet").live('click', function(e){
      var postTweet = {
        hidden : $(this).parent().parent().find('input[type="hidden"]'),
        monthDay : $(this).parent().parent().find('input[type="text"]'),
        deleteRow : $(this).parent().parent(),
        success : function(data){
          this.deleteRow.remove();  
        }
      };

      $.ajax({
        type: 'POST',
        url: '/tweets.json',
        data: postTweet.hidden.serialize() + "&" +  postTweet.monthDay.serialize(),
        success: $.proxy(postTweet.success, postTweet)
      });

    });
   
   $("#category_id").change(function(e){
      e.preventDefault();
      $("input[name='tweet[category_id]']").val($(this).val());
    });
  });


  twttr.anywhere(function (T) {
    if (T.isConnected())
    {
      T.currentUser.mentions().first(20).each(function(status){
        var postCheck = {
          status : status,
          success: function(data){
            if (!data.posted)
            {
              var screen_name = $("<input/>", {type:'hidden', name: 'screen_name', value: status.user.screenName});
              var pic = $("<input/>", {type:'hidden', name: 'pic', value: status.user.profileImageUrl});
              var status_id = $("<input/>", {type:'hidden', name: 'status_id', value: status.id});

              this.form.append(screen_name);
              this.form.append(status_id);
              this.form.append(pic);
              
    
              var checkbox = $('<td/>', {html: '<input type="button" name="post_tweet" class="post_tweet" value="등록"/><label for="month">월</label><input size="2" type="text" value="" name="month"/> <label for="day">일</label><input size="2" type="text" value="" name="day"/>'});
              var desc = $('<td/>', {html: '<b>' + this.status.user.screenName + '</b>' + this.status.text + '</p>'});
              
              var row = $('<tr/>');
              row.append(checkbox);
              row.append(desc);  
              row.append(title_hidden);
              row.append(screen_name_hidden);
              row.append(status_id_hidden);
              
              $("#mention_table tbody").append(row);           
            }
          }
        };
        
        $.ajax({
          type: 'GET',
          data: {status_id: status.id},
          url: '/tweets/already_posted.json',
          success: $.proxy(postCheck.success, postCheck)
        });

      });
      
    }
  });

</script>