<div id="tweet_form">
  <%= form_for(@tweet) do |f| %>
    <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id="realform" style="background-color:#EBF9FE">
      <div class="field">
        <div class="calendar">
          <p style="margin-bottom:10px">
            2010년, 나의 기억에 남았던 순간은 / My most memorable moment in year 2010
          </p>
          <%= text_field_tag :date, '10/11', :size => '5', :disabled => true %>일, 
        </div>
        <div>
          <%= text_area_tag :memory, '트위터에 로그인 후 작성 가능합니다', :placeholder => '기억을 써주세요', :size => '100', :disabled => true %> 
        </div>
      </div>
      <div id="tweet_button_actions">
        <%= image_submit_tag 'btn_disabled.png', :id => 'tweet_button_actions_btn', :disabled => true %> 혹은 그냥 보기 / or just see results.
      </div>
    </div>
  <% end %>
</div>
