<div id="tweet_form">
  <%= form_tag update_all_tweet_path(@tweet) do %>
    <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>   
       <%= hidden_field_tag '_method', 'put' %>
    <div id="realform" style="background-color:#EBF9FE">
     <div>
        <%= label_tag 'tweet[title]' %>
        <%= text_field_tag 'tweet[title]', @tweet.title %>
      </div>
      <div>
        <%= label_tag 'tweet[status_id]' %>
        <%= text_field_tag 'tweet[status_id]', @tweet.status_id %>
      </div>
      
      <div>
        <%= label_tag 'tweet[month]' %>
        <%= text_field_tag 'tweet[month]', @tweet.month %>
      </div>
      
      
      <div>
        <%= label_tag 'tweet[day]' %>
        <%= text_field_tag 'tweet[day]', @tweet.day %>
      </div>
      
      <div>
        <%= label_tag 'tweet[pic]' %>
        <%= text_field_tag 'tweet[pic]', @tweet.pic %>
      </div>

      
      <div>
        <%= label_tag 'tweet[screen_name]' %>
        <%= text_field_tag 'tweet[screen_name]', @tweet.screen_name %>
      </div>

      <div>
        <%= label_tag 'branch_id' %>
        <%= text_field_tag 'branch_id', @tweet.branch.id %>
      </div>

      <div id="tweet_button_actions">
        <%= submit_tag 'submit' %>
      </div>
    </div>
  <% end %>
</div>
