<div id="tweet_form">
  <%= form_for(@tweet) do |f| %>
    <% if @tweet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @tweet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>   
    <div id="realform" style="background-color:#EBF9FE">
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :status_id %>
        <%= f.text_field :status_id %>
      </div>
      
      <div>
        <%= f.label :month %>
        <%= f.text_field :month %>
      </div>
      
      
      <div>
        <%= f.label :day %>
        <%= f.text_field :day %>
      </div>
      
      <div>
        <%= f.label :pic %>
        <%= f.text_field :pic %>
      </div>

      
      <div>
        <%= f.label :screen_name %>
        <%= f.text_field :screen_name %>
      </div>

      <div>
        <%= label_tag 'branch_id' %>
        <%= text_field_tag 'branch_id', @tweet.branch.id %>
      </div>

      <div id="tweet_button_actions">
        <%= submit_tag 'submit' %>
      </div>
    </div>
  <% end %>
</div>
