<p id="notice"><%= notice %></p>

<div id="logo">
  <%= image_tag('logo.png') %>
</div>

<div id="description">
  <p>
    랜덤웍스가 2011년에 TED Fellow가 되었습니다.
    희망찬 랜덤웍스의 2011년을 기원하면서 2010년, 여러분들의 가장 기억에 남은 시간을 공유하고자 합니다. 트위터에 남겨주신 데이터를 시각화 하여 올해는 어떤 일이 생겼는지, 가장 기억에 남은 순간을 저희와 공유해 주세요!
  </p>

  <p>
    - - - - - - - - - - - - - - - - - - - - - - - -
  </p>
  <p>
    Happy X-Mas to all of you!
    randomwalks had great time in this year, and
    hopefully, same in 2011. Before starting 2011,
    we would like to hear and share your most remarkable /
    memorable moments of 2010. Of course, it doesn't have to be happy moment. :) Share your 2010 with us, and let's see what was happened in year 2010.
  </p>
</div>

<div id="form_render">
  <div id="login"></div>
  <%= render 'form' %>
</div>

<div id="howto">
  
  <div style="margin-bottom:10px;font-size:0.8em;font-weight:bold;line-height:13px">
    <div id="window_01" class="windowst">
    </div>
    Window 01 : <br/>Holiday Tree
  </div>

  <div style="margin-bottom:10px;font-size:0.8em;font-weight:bold;line-height:13px">
    <div id="window_02" class="windowst">
    </div>
    Window 02 : <br/>Timeline
  </div>

  
  <div style="margin-bottom:10px;font-size:0.8em;font-weight:bold;line-height:13px">
    <div id="window_03" class="windowst">
    </div>
    Window 03 : <br/>2010 Parades
  </div>

  
  <div style="margin-bottom:10px;font-size:0.8em;font-weight:bold;line-height:13px">
    <div id="window_03" class="windowst">
    </div>
    Window 04 : <br/>Lists
  </div>

</div>
<div id="rwlogo">
  <%= link_to  image_tag('rw_logo.jpg'), 'http://randomwalks.org' %>
</div>

  <div id="tweet_list_iframe" class="dragWindow">
    <div id="listContent">
    </div>
  </div>

  <div id="tree_iframe" class="dragWindow">
    <div id="flashContent">
			<a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		</div>
  </div>


<div id="empty">
</div>

<!--
  <table id="mention_table">
    <thead>
      <tr>
        <td class="all_check">
          올린사람
        </td>
        <td>내용</td>
      </tr>
    </thead>
    <tbody>
<% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.screen_name %></td>
        <td><%= tweet.title %> <%= tweet.month %> / <%= tweet.day %></td>
      </tr>
<% end %> 
    </tbody>
  </table>
  -->

<script type="text/javascript">
  $(document).ready(function(e){
    $("#date").datepicker({ dateFormat: "mm/dd", minDate: new Date(2010, 0, 1), maxDate: new Date(2010, 11, 31) });
    
            $(".dragWindow").hide();
    
  });

  twttr.anywhere(function (T) {
    if (T.isConnected())
    {
        $(".calendar").fadeIn();
        $("#date").attr("disabled", false);
        $("#memory").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("src", '/images/btn.png');
        $("#memory").val("기억을 써주세요");
        $.placeholder($("#memory"));

        var tweet_func = {
          status : T.Status,
          actionContainer: $("#tweet_button_actions"),
          btn: $("#tweet_submit").clone(),
          form: $("#new_tweet"),
          wait: $("<img/>", {src:"/images/ajax-loader.gif"}),
          addTweet: function(status){
              var screen_name = $("<input/>", {type:'hidden', name: 'screen_name', value: status.user.screenName});
              var pic = $("<input/>", {type:'hidden', name: 'pic', value: status.user.profileImageUrl});
              var status_id = $("<input/>", {type:'hidden', name: 'status_id', value: status.id});

              this.form.append(screen_name);
              this.form.append(status_id);
              this.form.append(pic);

              $.ajax({
                type: 'POST',
                url: this.form.attr('action') + '.json',
                data: this.form.serialize(),
                success: $.proxy(this.finalFunc, this)
              }); 
          },
          finalFunc: function(data){
            // popup!
            
            $(".dragWindow").show();
            $("#empty").show();
            $("#tweet_list_iframe").dialog({title: 'Lists', resizable:false, position:[200, 'bottom'], width:200, height:350});
            $("#tree_iframe").dialog({title: 'Holiday Tree', resizable:false, position:[430, 'bottom'], width:700, height:600});
            $("#tweet_list_iframe").load("http://xmastree.randomwalks.org/tweets/tweetlist");
            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flashswfContent";
            swfobject.embedSWF("/swfs/Xmastree.swf", "flashContent", "700", "600", "10.0.0", false, flashvars, params, attributes);
            

            this.actionContainer.append(this.btn);
            this.wait.remove();
          },

          submitFunction: function(e){
            e.preventDefault();
            this.actionContainer.append(this.wait);
            var btn = $("#tweet_submit");
            btn.remove();

            var splitString = $("#date").val().split('/');
            var body = $("#memory").val() + " / " + splitString[0] + "월 " + splitString[1] + "일 @rdwks #2010Adieu";
            this.status.update(body, {
              success: $.proxy(this.addTweet, this),
              error: function(){
                alert("failure");
              }
            });

            /*
            if (!($("#month").val() >= 1 && $("#month").val() <= 12))
            {
              $.errorMessage("달에는 1과 12 사이의 숫자만 입력하셔야 합니다.");
            }

            if (!($("#day").val() >= 1 && $("#day") <= 31))
            {
              $.errorMessage("날짜에는 1과 31 사이의 숫자만 입력하셔야 합니다.");
            }
            
          

            */
            

          }
        };

        $("#new_tweet").live('submit', $.proxy(tweet_func.submitFunction, tweet_func));
    }
    else
    {
    }

    T.bind("authComplete", function (e, user) {
 
        $(".calendar").fadeIn();
        $("#date").attr("disabled", false);
        $("#memory").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("disabled", false);
        $("#tweet_button_actions_btn").attr("src", '/images/btn.png');
        $("#memory").val("기억을 써주세요");
        $.placeholder($("#memory"));


        var tweet_func = {
          status : T.Status,
          actionContainer: $("#tweet_button_actions"),
          btn: $("#tweet_submit").clone(),
          form: $("#new_tweet"),
          wait: $("<img/>", {src:"/images/ajax-loader.gif"}),
          addTweet: function(status){
              var screen_name = $("<input/>", {type:'hidden', name: 'screen_name', value: status.user.screenName});
              var pic = $("<input/>", {type:'hidden', name: 'pic', value: status.user.profileImageUrl});
              var status_id = $("<input/>", {type:'hidden', name: 'status_id', value: status.id});

              this.form.append(screen_name);
              this.form.append(status_id);
              this.form.append(pic);

              $.ajax({
                type: 'POST',
                url: this.form.attr('action') + '.json',
                data: this.form.serialize(),
                success: $.proxy(this.finalFunc, this)
              }); 
          },
          finalFunc: function(data){
            // popup!
            //$(".dragWindow").show();
            
            
            $(".dragWindow").show();
            $("#tweet_list_iframe").dialog({title: 'Lists', resizable:false, position:[200, 'bottom'], width:200, height:350});
            $("#tree_iframe").dialog({title: 'Holiday Tree', resizable:false, position:[430, 'bottom'], width:700, height:600});s
            $("#tweet_list_iframe").load("http://xmastree.randomwalks.org/tweets/tweetlist");


            var flashvars = {};
            var params = {};
            var attributes = {};
            attributes.id = "flashswfContent";
            swfobject.embedSWF("/swfs/Xmastree.swf", "flashContent", "700", "600", "10.0.0", false, flashvars, params, attributes);
            
      
            this.actionContainer.append(this.btn);
            this.wait.remove();
          },

          submitFunction: function(e){
            e.preventDefault();
            this.actionContainer.append(this.wait);
            var btn = $("#tweet_submit");
            btn.remove();

            var splitString = $("#date").val().split('/');
            var body = $("#memory").val() + " / " + splitString[0] + "월 " + splitString[1] + "일 @rdwks #2010Adieu";
            this.status.update(body, {
              success: $.proxy(this.addTweet, this),
              error: function(){
                alert("failure");
              }
            });

            /*
            if (!($("#month").val() >= 1 && $("#month").val() <= 12))
            {
              $.errorMessage("달에는 1과 12 사이의 숫자만 입력하셔야 합니다.");
            }

            if (!($("#day").val() >= 1 && $("#day") <= 31))
            {
              $.errorMessage("날짜에는 1과 31 사이의 숫자만 입력하셔야 합니다.");
            }
            
          

            */
            

          }
        };

        $("#new_tweet").live('submit', $.proxy(tweet_func.submitFunction, tweet_func));
    });

    T.bind("signOut", function (e) {
    });

  });

</script>