<p id="notice"><%= notice %></p>


<h2>분류들</h2>
<p>
<table>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.title %> <%= category.huemin %>-<%= category.huemax %></td>    
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</p>




<div id="mentions">
  <table id="mention_table">
    <thead>
      <tr>
        <td class="all_check">
          <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :title)) %>
        </td>
        <td>내용</td>
        <td>글쓴이</td>
        <td>
          현재분류
        </td>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <input type="button" value="변경" class="post_tweet" name="check"/>
        </td>
        <td>
          <%= tweet.title %>
          - <%= tweet.month %>월 <%= tweet.day %>일
          <p>
            <%= hidden_field_tag 'tweet_id', tweet.id %>
            <%= hidden_field_tag 'category_id', tweet.category_id %>
          </p>
        </td>
        <td>
          <%= tweet.screen_name %>
        </td>
        
        <td class="category_td">
          <% if tweet.category_id == -1 %>
            분류없음
          <% else %>
            <%= tweet.category.title %>
          <% end %>
        </td>
      </tr>      
      <% end %>
    </tbody>
  </table>
</div>


<h2>분류 추가</h2>
<p>
<%= render '/categories/form' %>
</p>


<script type="text/javascript">
  $(document).ready(function(){
    $("a[data-method='delete']").click(function(e){
      e.preventDefault();
      var deleteAction ={
        td: $(this).parent().parent(),
        success: function(data){
          alert("잘 삭제되엇슴");
          this.td.remove();  
        }
      };

      $.ajax({
        type: 'DELETE',
        url: $(this).attr('href')+ '.json',
        success: $.proxy(deleteAction.succsss, deleteAction)
      });

    });
  });
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $(".post_tweet").live('click', function(e){
      var postTweet = {
        id : $(this).parent().parent().find('input[name="tweet_id"]').val(),
        hidden: $(this).parent().parent().find('input[type="hidden"]'),
        row : $(this).parent().parent(),
        success : function(data){
          if (data.status)
          {
            this.row.find(".category_td").html(data.title);
          }
        }
      };

      $.ajax({
        type: 'PUT',
        url: '/tweets/' + postTweet.id + '.json',
        data: postTweet.hidden.serialize(),
        success: $.proxy(postTweet.success, postTweet)
      });

    });
   
   $("#category_id").change(function(e){
      e.preventDefault();
      $("input[name='category_id']").val($(this).val());
    });

    
      $("input[name='category_id']").val($("#category_id").val());
  });


  twttr.anywhere(function (T) {
    T.currentUser.mentions().first(20).each(function(status){
      var postCheck = {
        status : status,
        success: function(data){
          if (!data.posted)
          {
            var title_hidden = $('<input/>', {type:'hidden', value: this.status.text, name: 'tweet[title]'});
            var screen_name_hidden = $('<input/>', {type:'hidden', value: this.status.user.screenName, name: 'tweet[screen_name]'});
            var status_id_hidden = $('<input/>', {type:'hidden', value: this.status.id, name: 'tweet[status_id]'});
            var category_id_hidden = $('<input/>', {type:'hidden', value: $("#category_id option:selected").eq(0).val(), name: 'tweet[category_id]'});
            
            
            var checkbox = $('<td/>', {class:'post_check', html: '<input type="button" value="등록" class="post_tweet" name="check"/>'});
            var desc = $('<td/>', {html: '<b>' + this.status.user.screenName + '</b>' + this.status.text + '</p>'});
            
            var row = $('<tr/>');
            row.append(checkbox);
            row.append(desc);  
            row.append(title_hidden);
            row.append(screen_name_hidden);
            row.append(status_id_hidden);
            row.append(category_id_hidden);
            row.append(question_id_hidden);
            
            $("#mention_table tbody").append(row);           
          }
        }
      };
      
      $.ajax({
        type: 'GET',
        data: {status_id: status.id},
        url: '/tweets/already_posted.json',
        success: $.proxy(postCheck.success, postCheck)
      });

    });
  });

</script>