<!DOCTYPE html>
<html>
  <head>
    <title>the most memorable moment of 2010 : visualizing 2010 by randomwalks</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'jquery-ui-1.8.6.custom' %>
    <%= javascript_include_tag 'jquery-1.4.4.min' %>
    <%= javascript_include_tag 'basic' %>
    <%= javascript_include_tag 'swfobject' %>
    <%= javascript_include_tag 'jquery.scrollTo-1.4.2-min' %>
    <%= javascript_include_tag 'jquery.popupwindow' %>
    <%= javascript_include_tag 'jquery-ui-1.8.6.custom.min' %>  	
    <script type="text/javascript"
	    	src="http://www.java.com/js/deployJava.js"></script>
	
    <script src="http://platform.twitter.com/anywhere.js?id=zbrHMeCKUIMFauyywEemQ&amp;v=1"></script>
    <%= csrf_meta_tag %>
  </head>
  <body>
    
    <%= yield %>


    <script type="text/javascript">

      twttr.anywhere(function (T) {
        T("#login").connectButton();
      });

    </script>

  </body>
</html>
