<!DOCTYPE html>
<html>
  <head>
    <title>randomwalks x-mas tree</title>
    <%= stylesheet_link_tag 'tweetlist' %>
    <%= javascript_include_tag 'cufon-yui' %>
    <%= javascript_include_tag 'hangul' %>
    <%= javascript_include_tag 'jquery-1.4.4.min' %>
    <%= csrf_meta_tag %>
    <style>
      body
      {
        overflow-x:hidden;
      }
    </style>
  </head>
  
  <body>
    
    <%= yield %>


  </body>
</html>
